.container {
    margin: 25px auto;
    width: 70%;

}

header H1 {
    font-size: 4em;
    margin-bottom: 25px;
}
.Pengar {
    font-size: 1.5em;
    margin-left: 15px;
    color: green;
    font-weight: bold;
}

Main .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 18rem;
}

Main .cards {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

footer {
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}
footer .container {
    width: 60%;
}